/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    margin: 0;
    padding: 0;
    width: 100%;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* END RESET */
html {
    font-size: 14px;
}
body {
    background: #dfdfdf;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #555;
}
header.main {
    background: #334551;
    color: #fff;
    font-size: 2.5rem;
    height: auto;
    padding: 15px 30px;
    letter-spacing: -1px;
    text-transform: lowercase;
    width: 100%;
}
nav.main {
    float: right;
    font-size: 1rem;
    margin: 1px 0;
    text-transform: uppercase;
}
nav.main a,
.btn {
    background: #db8f2c;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    margin-left: 10px;
    padding: 10px;
    text-decoration: none;
}
nav.main a.active,
nav.main a:hover,
.btn:active,
.btn:hover {
    background: #46af96;
}
main {
    padding: 30px;
}

/* MESSAGE ALERTS */
#message {
    background: #46af96;
    border-radius: 5px;
    color: #fff;
    display: none;
    margin: 0 0 30px;
    padding: 15px;
}
#message.active {
    display: block;
}
#message.error {
    background: #d43f3a;
}
/* END MESSAGE ALERTS */

/* FORM ELEMENTS */
form {
    background: #fff;
    border-radius: 5px;
    padding: 5px;
    position: relative;
    width: 100%;
}
label {
    display: inline-block;
    margin: 15px;
    position: relative;
}
.file-input,
select {
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    display: inline;
    margin: 5px 5px 0 0;
    min-width: 100%;
    outline: none;
    padding: 7px;
}
select {
    height: 34px;
}
#upload-btn {
    cursor: pointer;
    margin: 0;
}
/* END FORM ELEMENTS */